@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-primary-content: black;
  --color-primary-hover: #b4d15b;
  --color-secondary: #03373D;
  --color-secondary-content: white;
  /* CAEB66 03373D */
}

html,
body {
  font-family: "Urbanist", sans-serif;
  @apply bg-base-300;
}

nav a.active {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.trnsition {
  @apply transition-all transition-discrete duration-300;
}

.bttn {
  @apply bg-primary text-primary-content cursor-pointer px-4 py-2 rounded-md font-bold hover:bg-[var(--color-primary-hover)];
}

.bttn-out {
  @apply border border-base-300 cursor-pointer px-4 py-2 rounded-md font-bold hover:bg-base-300;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
